@(currentMissionTime: Long)
@import helper._

@main("Apollo 13 Redux", "stylesheets/disaster.css") {
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
	<script src="@routes.Assets.at("javascripts/StreamUpdater.js")"></script>
    <script src="@routes.Assets.at("javascripts/ParlaxEngine.js")"></script>
    <div id='centeredContainter'>
        <div id='textLayer' class='layer' data-altitude='0.02'>
            <div id='leftNav'>
                <div id='logo'><img src="@routes.Assets.at("images/logo.png")" /></div> 
                <ul id='mainlinks'>
                    <li>> <a href='@routes.Application.stream'>Realtime Stream</a></li>
                    <li>> KeyEvents</li>
                    <ul id='events'>
                        <li><a href="@routes.Application.event("launch")">Launch</a></li>
                        <li><a href="@routes.Application.event("lem_docking")">LEM Docking</a></li>
                        <li><a href="@routes.Application.event("disaster")">Disaster</a></li>
                        <li><a href="@routes.Application.event("thebox")">CO2 Box</a></li>
                        <li><a href="@routes.Application.event("correction")">Course Correction</a></li>
                        <li><a href="@routes.Application.event("reentry")">Reentry</a></li>
                    </ul>
                    <li>> <a href='#'>About</a></li>
                </ul>
            </div>
            <div id='feedContent'>
                <div id='feedHeader'>
                    <div id='currentMissionTime'>T+00:00:00</div><div id='feedSource'>Live: Air-Ground </div>
                    <div id='headerRule'></div>
                </div>
                <div id="nextTransmissionTime" class="visible">
                </div>
                <div id='feed'>
                    <ul id="postStream" data-init-time="@currentMissionTime">
                        
                    </ul>
                </div>
            </div>
            <div id='footer'>
            </div>
        </div>
        <div id='shipLayer' class='layer' data-altitude='0.2'>
            <div id='ship'></div>
        </div>
    </div>
}
